body {
    background: #808080;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

#background_canvas {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body > .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 700px;
    max-width: 950px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.content > .header {
    margin: auto;
    text-align: center;
}

.content > .page_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
}

.page_text {
    color: #000000;
    background: #4682b4;
    border: 1px solid #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;
}

.page_row > .main_text {
    width: 100%;
    text-align:  left;
    margin-left: 0px;
    margin-right: 12px;
}

.page_row > .my_pic {
    width: 420px;
}
.my_pic > img {
    border-radius: 16px;
}

.page_row > .project_showcase {
    width: 100%;
}
.project_showcase > .project_item {
    color: #600000;
    background: rgba(128, 128, 128, 0.75);
    border-top: 1px solid #600000;
    margin-top: 16px;
    margin-bottom: 16px;
}
.project_showcase > td {
    text-align: left;
    vertical-align: middle;
}

.page_row > .form_display {
    width: 550px;
    text-align:  center;
}
.contact_form > textarea {
    resize: none;
}
.contact_form > button {
    color: #000000;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}
.contact_form > button:hover {
    color: #000000;
    background: #808080;
}
.contact_form > button:active {
    color: #000000;
    background: #808080;
    transform: translateY(4px);
}

footer {
    flex: 100%;
    color: #600000;
    background: #a9a9a9;
    border-radius: 8px;
    text-align: center;
    margin: 12px;
    padding: 6px;
}

a:link {
    color: #7B3F00;
    text-decoration: underline dotted;
}

a:visited {
    color: #32174D;
    text-decoration: underline dotted;
}

a:hover {
    color: #32174D;
    text-decoration: underline dotted;
}

a:active {
    color: #32174D;
    text-decoration: underline dotted;
}