/*
 * Main page css
 */
html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #eeffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}

#htmlnav {
    position: absolute;
    top: 0px;
    right: 0px;
}

a:link {
    color: #ffcc00;
    text-decoration: underline dotted;
}
a:visited {
    color: #ff7f50;
    text-decoration: underline dotted;
}
a:hover {
    color: #8f0f0f;
    text-decoration: underline dotted;
}
a:active {
    color: #ffcc00;
    text-decoration: underline dotted;
}