/*
 * Filename:  blog.scss
 * By:  Matthew Evans
 * See LICENSE.md for copyright information.
 * 
 * Blog page formatting.
 */

html, body {
    margin: 6px;
    padding: 6px;
    background-color: #263238;
    color: #eeffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
}

#content {
    justify-content: left;
}

#contactinfo {
    justify-content: right;
    text-align: right;
    display: flex;
    flex-direction: row;
}

#jsnav {
    justify-content: right;
    text-align: right;
    font-size: smaller;
}

.titleformat {
    display: inline;
}

.dateformat {
    font-size: xx-small;
    vertical-align: top;
}

a:link {
    color: #ffcc00;
    text-decoration: underline dotted;
}
a:visited {
    color: #ff7f50;
    text-decoration: underline dotted;
}
a:hover {
    color: #8f0f0f;
    text-decoration: underline dotted;
}
a:active {
    color: #ffcc00;
    text-decoration: underline dotted;
}
