/*
 * wtfsystems.net
 */

/* ********************** */
/* *** Sass variables *** */
/* ********************** */
$body_bg_color: #808080;

/* Navigation settings */
$nav_bg_color: #ffefd5;
$nav_button_bg_color: #8f0f0f;
$nav_button_fg_color: #eeffff;
$nav_button_border_color: #000000;
$nav_button_disabled_color: #000000;
$nav_font_size: medium;

/* Hyperlink settings */
$link_color: #32174d;
$link_visited: #8f0f0f;
$link_hover: #8f0f0f;
$link_active: #32174d;

/* Terminal settings */
$term_bg_color: #263238;
$term_fg_color: #eeffff;
$term_cr_color: #ffcc00;
$term_font_family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$term_font_size: medium;

/* Project showcase settings */
$project_fg_color: #600000;
$project_bg_color: rgba(128, 128, 128, 0.75);
$project_border_color: $project_fg_color;

/* Blog settings */
$blog_fg_color: #600000;
$blog_bg_color: rgba(128, 128, 128, 0.75);
$blog_post_bg_color: rgba(255, 239, 213, 0.5);
$blog_border_color: $blog_fg_color;

/* Footer settings */
$footer_fg_color: #600000;
$footer_bg_color: #a9a9a9;

/* Toggle button settings */
$toggle_button_bg_color: #8f0f0f;
$toggle_button_fg_color: #eeffff;
$toggle_button_border_color: #000000;
$toggle_button_font_size: small;
/* ********************** */

/* Main body formatting */
html {
    height: 100%;
}
body {
    background: $body_bg_color;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.05em;
}

/* Canvas stuffs */
#background_canvas {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#message_canvas {
    margin: 0 auto;
}

/* Hyperlink formatting */
a:link {
    color: $link_color;
    text-decoration: underline dotted;
}
a:visited {
    color: $link_visited;
    text-decoration: underline dotted;
}
a:hover {
    color: $link_hover;
    text-decoration: underline dotted;
}
a:active {
    color: $link_active;
    text-decoration: underline dotted;
}

/*  Navigation formatting */
nav {
    background: $nav_bg_color;
    border-radius: 8px;
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}
nav > button {
    background: $nav_button_bg_color;
    color: $nav_button_fg_color;
    border-color: $nav_button_border_color;
    font-size: $nav_font_size;
    border-radius: 6px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
}
nav > button:disabled {
    background: $nav_button_disabled_color;
}

/* Terminal formatting */
.term_window {
    color: $term_fg_color;
    background: $term_bg_color;
    font-family: $term_font_family;
    font-size: $term_font_size;
    width: 90%;
    border-radius: 6px;
    padding-left: 16px;
    padding-right: 32px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.term_window > .prompt {
    display: inline;
    color: $term_cr_color;
}
.term_window > .cursor > input[type=text] {
    width: 90%;
    color: $term_fg_color;
    background: $term_bg_color;
    font-family: $term_font_family;
    font-size: $term_font_size;
    border: none;
}
.term_window > .cursor {
    display: inline;
    position: relative;
    color: $term_cr_color;
    font-family: $term_font_family;
    font-size: $term_font_size;
}
.term_window > .cursor i {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: $term_cr_color;
	left: 1px;
	top: 0px;
    animation-name: blink;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    opacity: 1;
}
.cursor > input[type=text]:focus {
    outline: none;
}
.cursor > input[type=text]:focus + i {
    display: none;
}
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Content formatting */
body > .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 700px;
    max-width: 950px;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}
.content > .page_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Personal pic formatting */
.my_pic {
    width: 34%;
    border-radius: 16px;
}

/* Project formatting */
.page_row > .project_showcase {
    width: 100%;
    background: $project_bg_color;
}
.project_showcase > .project_item {
    color: $project_fg_color;
    border-top: 1px solid $project_border_color;
    margin-top: 16px;
    margin-bottom: 16px;
}
.project_showcase > td {
    text-align: left;
    vertical-align: middle;
}
.project_left_td {
    width: 65%;
}
.project_right_id {
    width: 35%;
}
.project_img {
    width: 100%;
}

/* Blog formatting */
.page_row > .blog {
    width: 100%;
    background: $blog_bg_color;
    color: $blog_fg_color;
}
.blog > .blog_title {
    text-align: center;
}
.blog > .blog_post {
    background: $blog_post_bg_color;
    text-align: left;
    border-radius: 8px;
    margin-top: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
}
.blog_post > .blog_post_title {
    text-align: left;
}
.blog_post > .blog_post_excerpt {
    text-align: left;
    padding-left: 12px;
}

/* Toggle button formatting */
.toggle_button {
    background: $toggle_button_bg_color;
    color: $toggle_button_fg_color;
    border-color: $toggle_button_border_color;
    font-size: $toggle_button_font_size;
    border-radius: 6px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* Header & Footer formatting */
.content > .header {
    margin: auto;
    text-align: center;
}
footer {
    flex: 100%;
    color: $footer_fg_color;
    background: $footer_bg_color;
    border-radius: 8px;
    text-align: center;
    font-size: 0.9em;
    margin: 12px;
    padding: 6px;
}