/*
 * Web Terminal Interface
 *
 * Filename:  WebTerm.scss
 * By:  Matthew Evans
 * See LICENSE.md for copyright information.
 * 
 * Sass variables for terminal specific color settings.
 */

/*
 * Input prompt
 */
$term_cr_color: #ffcc00;

/*
 * Info bar
 */
$time_bg_color: #dcdcdc;
$time_fg_color: #000000;
$user_bg_color: #000000;
$user_fg_color: #ffffff;
$site_bg_color: #87cefa;
$site_fg_color: #696969;
