/*
 * Web Terminal Interface
 *
 * Filename:  WebTerm.scss
 * By:  Matthew Evans
 * See LICENSE.md for copyright information.
 * 
 * Sass variables for terminal specific color settings.
 */

/*
 * Input prompt
 */
$term_pr_color: #ffcc00;
$term_cr_color: #ff00ba;

/*
 * Info bar
 */
$time_bg_color: #dcdcdc;
$time_fg_color: #000000;
$user_bg_color: #000000;
$user_fg_color: #ffffff;
$site_bg_color: #87cefa;
$site_fg_color: #696969;

/*
 * Prompt element formatting
 */
.prompt {
    display: inline;
    background-color: inherit;
    color: $term_pr_color;
    font-family: inherit;
    font-size: inherit;
}

/*
 * Mixin to inherit formatting
 */
@mixin termstyle() {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/*
 * Mixin for info bar formatting
 */
@mixin infobar($bg_color, $fg_color) {
    background-color: $bg_color;
    color: $fg_color;
    font-family: inherit;
    font-size: inherit;
    padding: 4px;
    padding-bottom: 3px;
}
