<!--
	wtfsystems.net
-->
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ site.title }}</title>

	<link rel="stylesheet" href="/css/default.css">
</head>

<body>

{% include header.html %}
{{ content }}
{% include footer.html %}

<canvas id="primewheel_canvas"></canvas>
<script type="text/javascript" defer="defer">

{% include js/encodedMessage.js %}

{% include js/primeWheel.js %}
	
{% include js/leToucan.js %}
	
leSpam(700)

const theWheel = new primeWheel
primeWheelStart(theWheel)

encodedMessage(
	[ 0x63, 0x6f, 0x6e, 0x74, 0x61, 0x63, 0x74, 0x40, 0x77, 0x74, 0x66, 0x73, 0x79, 0x73, 0x74, 0x65, 0x6d, 0x73, 0x2e, 0x6e, 0x65, 0x74 ],
	{ canvas_width: 240, canvas_height: 48 }
)
</script>

</body>
</html>