<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{ site.title }}</title>

	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
	<div id="htmlnav"><a href="/blog.html">HTML</a></div>
	<canvas id="animation_canvas"></canvas>
	<div id="app">
		{{ content }}
	</div>
	{% include scripts.html %}
	<noscript>
		Looks like JavaScript is either not enabled or supported on your browser.<br/>
		Luckly there's a <a href="/blog.html">non-JavaScript version</a> of the site!
	</noscript>
</body>

</html>