:root
  font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height 1.0
  font-weight 400

  color #eeffff
  background-color #161b22

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a:link
  color #ff7f50
  text-decoration underline dotted
a:visited
    color #ff7f50
    text-decoration underline dotted
a:hover
    color #8f0f0f
    text-decoration underline dotted
a:active
    color #ffcc00
    text-decoration underline dotted

body
  margin 0
  display flex
  place-items center
  min-width 90vw
  min-height 90vw

#app
  margin 0 auto
  padding 2rem
  text-align center
