:root
  font-family Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  line-height 1.2
  font-weight 400

  color #eeffff
  background-color #161b22

  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

a:link
  color #ff7f50
  text-decoration underline dotted
a:visited
    color #ff7f50
    text-decoration underline dotted
a:hover
    color #8f0f0f
    text-decoration underline dotted
a:active
    color #ffcc00
    text-decoration underline dotted

body
  margin 0

h1
  font-size 3.4em
  line-height 0.1
h2
  font-size 1.8em
  line-height 0.2
h3
  font-size 1.2em
  line-height 0.4

#app
  display flex
  flex-flow column
  align-items stretch
  max-width 800px
  height 100vh
  margin-left 12px
  margin-right 8px
